@tailwind base;
@tailwind components;
@tailwind utilities;

.dynamic-bg {
  background: linear-gradient(-45deg, #1a237e, #0d47a1, #01579b, #006064);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}